/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* global styles */
html {
  font-size: 10px;
}

body {
  font-family: "Balsamiq Sans", cursive;
  margin: auto;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

/* header styles */
#header {
  background-color: lightseagreen;
  color: white;
  height: 3.5rem;
  position: fixed;
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
}

.nav-container {
  display: flex;
  justify-content: space-around;
}

.nav-item {
  margin: 0.35rem 0;
  font-size: 2.3rem;
}

.nav-item:hover {
  color: grey;
}

/* main content styles */
#how-its-made {
  margin-top: 5rem;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: underline;
}

.how-title {
  font-size: 1.8rem;
}

.how-paragraph {
  display: inline-block;
  width: 80%;
  font-size: 1.5rem;
}

.carousel-title {
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: underline;
  border-top: 2px solid lightseagreen;
  padding-top: 2rem;
}

.carousel-container {
  display: flex;
  justify-content: center;
}

.carousel-img > img {
  width: 25rem;
  height: 25rem;
}

.carousel-btns {
  display: flex;
  justify-content: center;
}

.next-btn,
.previous-btn {
  margin: 10rem 2rem;
}

.beer-name {
  display: inline-block;
  font-size: 2rem;
}

.beer-abv,
.beer-style {
  font-size: 1.8rem;
}

.beer-desc {
  display: inline-block;
  width: 80%;
  height: 20rem;
  font-size: 1.5rem;
  overflow: auto;
}

/* footer styles */
#footer {
  padding: 0.5rem 0;
  background-color: rgba(0, 0, 0, 0.2);
}

footer > h3 {
  font-size: 1rem;
}

footer > p {
  font-size: 1rem;
}

.footer-link:hover {
  text-decoration: underline;
}
