/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* global styles */
body {
  font-family: "Balsamiq Sans", cursive;
  margin: auto;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

/* header styles */
#header {
  background-color: black;
  color: white;
  height: 6rem;
}

.site-title {
  font-size: 3rem;
}

/* main content styles */
.carousel-container {
  display: flex;
  justify-content: center;
  border-top: 0.2rem solid salmon;
  border-bottom: 0.2rem solid salmon;
}

.carousel-img > img {
  width: 25rem;
  height: 25rem;
}

.carousel-btns {
  display: flex;
  justify-content: center;
}

.next-btn,
.previous-btn {
  margin: 10rem 2rem;
}

.beer-name {
  display: inline-block;
  font-size: 2.2rem;
}

.beer-abv,
.beer-style {
  font-size: 1.8rem;
}

.beer-desc {
  display: inline-block;
  width: 80%;
  height: 10rem;
  font-size: 1.2rem;
  overflow: auto;
}

/* footer styles */
#footer {
  padding: 0.5rem 0;
  background-color: rgba(0, 0, 0, 0.2);
}

footer > h3 {
  font-size: 1rem;
}

footer > p {
  font-size: 1rem;
}

.footer-link:hover {
  text-decoration: underline;
}
