* {
  /* border: 1px solid gold; */
}

/* global styles */
html {
  font-size: 10px;
}

body {
  margin: auto;
  text-align: center;
}

.container {
  display: inline-block;
}

/* remove all initial styling from a tags */
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

/* header styles */
#site-title {
  font-size: 4em;
}

/* main content styles */
#carousel > img {
  width: 35em;
  height: 35em;
}

/* footer styles */
#footer {
  padding: 0.5em 0;
  background-color: rgba(0, 0, 0, 0.2);
}

footer > h3 {
  font-size: 1.5em;
}

footer > p {
  font-size: 1.2em;
}

.footer-link:hover {
  text-decoration: underline;
}
